<h1>New Journal Entry:</h1>


<form action="/" method="post">
	<textarea rows="4" cols="50" input id="newEntry" 
	type="text" name="entry"></textarea>
	<br>
	<input id="newDataSubmit" type="submit" value="Submit" />
</form>
<br>


<h1>Previous Entries:</h1>
<div id="allEntries"></div>

<script src="home.js"></script>