body {
	text-align: center;
}

h1, h2{
	color: white;
}

h3{
	color: rgb( #2a4c61);
}

form, div {
	background-color: #d0dee7;
  padding: 15px 15px 15px 15px;
  margin: 15px 15px 15px 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
}

textarea {
  width: 75%;
}

.entryDate {
  font-weight: bold;
}
